* {
    margin: 0;
    padding: 0;

    font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    color: #ffffff;

    z-index: 0;
    cursor: crosshair;
}

:root{
    --viewport-height: 100dvh;
    --viewport-width: 100dvw;
    --viewport-coverage: .975;

    --margin-sz: 1rem;
    --margin-proportion: 7.5;

    --font-proportion: 3.75;

    --font-weight-1: 100;
    --font-weight-2: 400;
    --font-weight-3: 700;

    --mdl-view-coverage: 1.3333;

    --decrease-proportion: 1.25;
}

body {
    height: var(--viewport-height);
    width: var(--viewport-width);

    overflow: hidden;
    background: linear-gradient(to top, #07001b, #424b87);
}

a {
    text-decoration: none;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: calc(var(--viewport-coverage) * var(--viewport-height));
    width: calc(var(--viewport-coverage) * var(--viewport-width));
}


/* slc */
.selection {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    height: 100dvh;
    width: .5dvw;

    background: #ffffff;
    mix-blend-mode: difference;
    backdrop-filter: blur(5px);
}

/* navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;

    height: 3rem;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-item {
    height: inherit;
    width: 8.5rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: calc(8px * var(--font-proportion) / var(--decrease-proportion));
    font-weight: var(--font-weight-2);
}

#main-link {
    position: absolute;
    top: 0;
    left: 0;

    justify-content: flex-start;
}

/* titlebar */
.titlebar {
    position: absolute;
    top: 50%;
    right: 45%;
    transform: translate(-0%, -50%);

    height: fit-content;
    width: fit-content;

    background: white;
    background-clip: text;
    mix-blend-mode: difference;
}

.title {
    font-size: calc(36px * var(--font-proportion) / var(--decrease-proportion));
    font-weight: var(--font-weight-3);

    text-align: right;
}

.uppertitle {
    margin: 0 0 0 0;
    text-align: left;
}

.lowertitle {
    font-size: calc(32px * var(--font-proportion) / var(--decrease-proportion));
    margin: 0 0 0 0;
    text-align: left;
}

/* cbtn */
.contactbar {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);

    height: fit-content;
    width: fit-content;
    
    padding-right: .5rem;
    border-right: 2px solid white;
}

.contact-btns {
    font-size: calc(8px * var(--font-proportion) / var(--decrease-proportion));
    font-weight: var(--font-weight-1);

    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    height: 15rem;
    width: fit-content;
}

.contact-btn-item {
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact-btn-item-icon {
    filter: brightness(0) invert(1);
    height: 45px;
    width: 45px;
}

/* ctc list */
.contactbarlist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40rem;
    aspect-ratio: 5 / 3;

    display: flex;
    flex-wrap: wrap;

    padding: 2rem;

    background: white;
    color: #534a4a;
    mix-blend-mode: difference;
    backdrop-filter: blur(25px);

    border-radius: 2px;

    opacity: 0;

    transition: opacity 0.5s ease-in-out;
}

.contactbarlist-active {
    opacity: 1;
}

.contactbarlist-offs {
    top: -150%;
}

.contactbarlist-item {
    width: 100%;
    color: black;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactbarlist-item > div {
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contactbarlist-item > div > div {
    color: black;
}

.contactbarlist-fb:nth-child(2),
.contactbarlist-in:nth-child(2),
.contactbarlist-email:nth-child(2),
.contactbarlist-discord:nth-child(2) {
    color: black;
    display: flex;
    gap: 1rem;
}

.contactbarlist-fb:nth-child(2) > div > .contact-btn-item-icon,
.contactbarlist-in:nth-child(2) > div > .contact-btn-item-icon,
.contactbarlist-email:nth-child(2) > div > .contact-btn-item-icon,
.contactbarlist-discord:nth-child(2) > div > .contact-btn-item-icon,
.contactbarlist-fb:nth-child(1) > .contact-btn-item-icon,
.contactbarlist-in:nth-child(1) > .contact-btn-item-icon,
.contactbarlist-email:nth-child(1) > .contact-btn-item-icon,
.contactbarlist-discord:nth-child(1) > .contact-btn-item-icon {
    filter: unset;
}

/* fdbar */
.feedbackbar {
    position: absolute;
    bottom: 12.5%;
    left: 50%;
    transform: translate(-50%, 0);

    background: white;
    mix-blend-mode: difference;
    border-radius: 2px;
    padding: 1rem;

    opacity: 0;

    transition: opacity 0.5s ease-in-out;
}

.feedbackcopied {
    color: black;
}

.feedbackbar-active {
    opacity: 1;
}

/* sd */
.shortdescbar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -0%);

    font-size: calc(8px * var(--font-proportion) / var(--decrease-proportion));
    font-weight: var(--font-weight-1)
}

.shortdesc {
    text-align: center;
}

/* mdl */
#modelbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: calc(var(--viewport-height) * 1);
    width: calc(var(--viewport-width) * 1);

    z-index: -10;
}

#modelbar canvas {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    display: block;
}

/* notif interaction */
.modelbar-notif-interaction {
    position: absolute;
    bottom: 0;
    right: 0;

    height: 2.5rem;
    aspect-ratio: 2;
    overflow: hidden;
}

.modelbar-notif-item {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 5rem;
    aspect-ratio: 2;
}

.modelbar-notif-item-icon {
    filter: brightness(0) invert(1);
    height: 15px;
    width: 15px;
}

.modelbar-zoom-icons {
    position: relative;
}

.modelbar-zoom-icons > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -50%);
}

.modelbar-notif-item {
    gap: 10px;
    opacity: 0;
    animation: fade-cycle 9s infinite;
}

.modelbar-notif-item:nth-child(1) {
    animation-delay: 0s;
}

.modelbar-notif-item:nth-child(2) {
    animation-delay: 3s;
}

.modelbar-notif-item:nth-child(3) {
    animation-delay: 6s;
}

@keyframes fade-cycle {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    43% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}



